@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
.green {
  height: 20vh;
  width: 100%;
  background-color: var(--ion-color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;

  ion-buttons{
    ion-back-button{
      --background:var(--ion-color-primary)
      --color:white;
    }
  }

  ion-item{
    --background:var(--ion-color-primary);
    --inner-border-width: 0;
      margin-bottom:42px;
      color: white;
  }

  div{
    align-self: center;
  }


}

ion-item{
  --inner-border-width: 0;
}
.white {
  width: 100%;
  height: 100px;
  position: relative;
  bottom: 7vh;
  border-top-right-radius: 36px;
  border-top-left-radius: 36px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 28px 25px 0 25px;

  .begin{
    ion-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 26px;
    }

    
    span{
      color: var(--ion-color-primary);
    }
  }

  ion-note{
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
  }

  .email{
    margin-top: 20px;
    ion-label{
    font-family: 'Nunito',sans-serif;
    font-weight: 800;
    font-size: 16px;

    span{
      font-weight: 400;
    }
    }
    
    ion-select{
    font-family: 'Nunito',sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--ion-color-success);
    }

    ion-input{
    --placeholder-color:#010101;
    --ion-font-family:'Nunito', sans-serif;
    font-weight: 600;
    font-size: 18px;
      
    }
  }

  ion-item{
    --border-style: solid;
    padding-left: 0px;
  }

  ion-item{
    ion-label{
      ion-note{
        font-family: 'Nunito',sans-serif;
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
.submit{
  font-family: 'Nunito',sans-serif;
        font-weight: 800;
        font-size: 16px;
        text-transform: none;
      --padding-bottom: 25px; // Adjust as needed
      --padding-top: 25px;
}

.login{
  width: 100%;
  height: 100px;
  margin: 20px 0;
  text-align: center;
  padding:0 10px 20px 10px;
  font-family: 'Nunito',sans-serif;
        font-weight: 600;
        font-size: 16px;
  span{
    color: var(--ion-color-primary);
  }
}



}



